
	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
		
	}
	.container{
		justify-content:evenly;
		display:flex;
	}
	.rows{
		display:flex;
	}
	.col{
		width:50%;
		padding:0 15px;
		height:100%;
	}
	.flex-1{
		display:flex;
		padding:20px;
	}
	.flex-2{
		width:95px;
		height:75px;
		border:1px  white solid;
		font-size:15px;
		border-radius:5px;
		justify-content:center;
		align-items:center;
		display:flex;
	}
	.flex-3{ 
	padding-left:20px;
	}
	.flex-1:hover .flex-2
	{
		background-color:orange;
	}
	.flex-1:hover h2{
		color:orange;
	}
	.flex-3{
		padding-left:20px;
	}
	.images{
		background-image:url("../images/a1.jpg");
		background-position:center;
		background-size:cover;
	}
	.flex{
		padding-bottom:20px;
	}
	.content{
		padding-bottom:20px;
	}